<!--왼쪽 박스에 들어가는 프로필 사진과 닉네임, 아이디-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<htmL>
 <head>
  <title> 좌측 프로필 </title>
 </head>
 <body>	
	<table border="0" width="130">
		<tr >
			<td bgcolor="#DBDBDB" align="center"><font style="font-size:8pt;"><p>today is: 아픔</p></font></td>
		</tr>
		<tr >
			<td>
				<table bgcolor="#DBDBDB" width="130" cellpadding="1" cellspacing="1">
					<tr bgcolor="#FFFFFF">
						<td bg><!-- 프로필 사진 -->
							<img width="200" height="300"src="http://blogfiles.naver.net/MjAxOTAyMTZfMTA3/MDAxNTUwMzA4NjU2MTQx.f_o4WORY9QzK9dkg2KIOqLv2TKhuEIhG--CcVms3pUIg.nOnlSoPTP64arOkCX-s4LgUUP5Q5N1NDu2vxGhapFwAg.JPEG.921130jh/%EC%8B%B8%EC%9D%B4%EC%9B%94%EB%93%9C_%EC%B1%84%EC%97%B0_%EB%88%88%EB%AC%BC%EC%85%80%EC%B9%B4.jpg" alt=""></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td> 
				<font style="font-size:9pt;">
					<br>
					안녕하세요! 
				</font>
			</td>
		</tr>
	</table>
	<br/><br/><br/>
	<table bgcolor="#DBDBDB" width="200" cellpadding="1" cellspacing="1">
		<tr align="center">
			<td bgcolor="#FFFFFF"><font style="font-size:9pt;">
			<!-- 닉네임 아이디 -->	
				<hr>
				<b>감성남(닉네임)</b><br><font color="#000099"><p>ssafy@ssafy.com(아이디)</p></font>
			</font></td>
		</tr>
	</table>
	
 </body>
</html> 



